
<div class="container">
    <div class="result-section">
        <ng-container *ngIf="showResults">
            <ng-container *ngFor="let peg of result; let i = index">
                <div [ngClass]="getClassName(peg)" class="result-peg"></div>
            </ng-container>
        </ng-container>
    </div>
    <div>
        <ng-container *ngFor="let peg of guess; let i = index">
            <button [disabled]="disabled" [ngClass]="getClassName(peg)" class="colored-peg" (click)="onPegClick(i)">
            </button>
        </ng-container>
    </div>

    <div>
        <ng-container *ngIf="showConfirm">
            <button class="confirm-button" (click)="onConfirm()">
                Confirm
            </button>
        </ng-container>
    </div>
</div>