<div class="game-container">
  <div class="game-box">
    <ng-container *ngFor="let gameSection of gameSections; let i = index">
      <game-section [disabled]="gameSection.disabled" [answer]="answer" [selectedColor]="selectedColor" (done)="onCompleteSection(i, $event)">
      </game-section>
    </ng-container>
    <div>
      <game-section class="answer-board" [disabled]="true" [guess]="displayedAnswer" [showResults]="false">
      </game-section>
    </div>
  </div>
  <div class="color-picker">
    <label class="colored-peg">
      <input  type="radio" name="color" (click)="onColorClick('red')">
      <span class="colored-peg red"></span>
    </label>
    <label class="colored-peg">
      <input class="red" type="radio" name="color" (click)="onColorClick('green')">
      <span class="colored-peg green"></span>
    </label>
    <label class="colored-peg">
      <input class="red" type="radio" name="color" (click)="onColorClick('blue')">
      <span class="colored-peg blue"></span>
    </label>
    <label class="colored-peg">
      <input class="red" type="radio" name="color" (click)="onColorClick('yellow')">
      <span class="colored-peg yellow"></span>
    </label>
    <label class="colored-peg">
      <input class="red" type="radio" name="color" (click)="onColorClick('pink')">
      <span class="colored-peg pink"></span>
    </label>
    <label class="colored-peg">
      <input class="red" type="radio" name="color" (click)="onColorClick('white')">
      <span class="colored-peg white"></span>
    </label>
  </div>
</div>